{% extends 'basic.html' %}

    <!--{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">-->
    
{% block body %}
  <div>
    <div class="container">
          <h3 style="color: rgba(16, 4, 33, 0.926);padding-top: 5%;">Add Employee Details</h3>
    <form action="/emp" method="POST">
      {% csrf_token %}

      <!--<div class="form-group">
        <label class="form-label">First Name:</label>
        <div>{{form.eFname}}</div>
        <<input type="text" value="{{form.eFname}}" 
      </div>

      <div class="form-group">
        <label class="form-label">Last Name:</label>
        <div>{{form.eLname}}</div>
        <<input type="text" value="{{form.eFname}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Employee Customer:</label>
       <div>{{form.eCustomer}}</div>
         <input type="text" value="{{form.eLname}}" />
      </div>

<p style="color:crimson">Company not available?</p><button class="btn-warning btn-sm" onclick="location.href='/comp'">Click Here</button>

      <div class="form-group">
        <label class="form-label">Employee Email:</label>
        <div>{{form.eEmail}}</div>
        <input type="text" value="{{form.eEmail}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Employee phone:</label>
        <div>{{form.ePhone}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee Experience:</label>
        <div>{{form.eExperience}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee Skills:</label>
        <div>{{form.eskills}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee Role:</label>
        <div>{{form.eRole}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee Type:</label>
        <div>{{form.eMP_Type}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee Status:</label>
        <div>{{form.estatus}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee joining to leadsoc:</label>
        <div>{{form.leadsoc_joining_date}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee joining to customer:</label>
        <div>{{form.customer_start_date}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee Remarks:</label>
        <div>{{form.remarks}}</div>
        <input type="text" value="{{form.ePhone}}" />
      </div><br>-->
      <div class="form-group">
        <label for="e_id">Employee Id</label>
        <input type="text" class="form-control" id="e_id" name="e_id" placeholder="Enter Employee ID">
      </div>
      <div class="form-group">
        <label for="eFname">First Name:</label>
        <input type="text" class="form-control" id="eFname" name="eFname" placeholder="Enter First Name">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
        <div class="form-group">
          <label for="eLname">Last Name:</label>
          <input type="text" class="form-control" id="eLname" name="eLname" placeholder="enter Last name">
        </div>
        <div class="form-group">
          <label for="refer_Customer">Select Customer</label>
          <select name="refer_Customer" id="refer_Customer">
            {% for val in zipped_lists %}
            <option value="{{val}}">{{val}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="eEmail">Email:</label>
          <input type="eEmail" class="form-control" id="eEmail" name="eEmail" placeholder="enter email">
        </div>
        <div class="form-group">
          <label for="ePhone">Phone Number:</label>
          <input type="Phone" class="form-control" id="ePhone" name="ePhone" placeholder="enter phone number" pattern="[0:9]">
        </div>
        <div class="form-group">
          <label for="eExperience">Experience:</label>
          <input type="number" class="form-control" id="eExperience" name="eExperience" placeholder="enter experience">
        </div>
        <div class="form-group">
          <label for="eskills">Skills:</label>
          <input type="text" class="form-control" id="eskills" name="eskills" placeholder="Like C Python Enter multiple skills">
        </div>
        <div class="form-group">
          <label for="eRole">Select Role</label>
          <select name="eRole" id="eRole">
            {% for val in rolelist %}
            <option value="{{val}}">{{val}}</option>
            {% endfor %}
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="eMP_Type">Employee Type:</label>
          <input type="text" class="form-control" id="eMP_Type" name="eMP_Type" placeholder="IT or HR or sales or Finace etc..  ">
        </div> -->
        <div class="form-group">
          <label for="estatus">Employee status:</label>
          <select name="estatus" id="estatus">
            {% for val in status %}
            <option value="{{val}}">{{val}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="leadsoc_joining_date">Joining Date to LeadSoc:</label>
          <input type="date" class="form-control" id="leadsoc_joining_date" name="leadsoc_joining_date" placeholder="enter joining date to leadsoc">
        </div>
        <div class="form-group">
          <label for="customer_start_date">Customer Start Date:</label>
          <input type="date" class="form-control" id="customer_start_date" name="customer_start_date" placeholder="enter customer deployed date">
        </div>

        <button type="submit" class="btn btn-success">Submit</button><br><br><br>

      
      </form>
  </div></div>
{% endblock %}