{% extends 'basic.html' %}
{% block body %}
    <div class="container">
        <h3 style="color: rgba(16, 4, 33, 0.926);padding-top: 5%;">Add TA Details</h3>
        <form action="/add_ta" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="ta_id">TA ID</label>
                <br>
                <input type="number" name="ta_id" id="ta_id" placeholder="Add: TA ID">
            </div>
            <div class="form-group">
                <label for="archived">Archived:</label>
                <br>
                <input type="text" name="archived" id="archived" placeholder="Add: Archived">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <br>
                <input type="date" name="date" id="date" placeholder="Add: Date">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <br>
                <input type="text" name="name" id="name" placeholder="Add: Name">
            </div>
            <div class="form-group">
                <label for="BU">BU:</label>
                <br>
                <input type="text" name="BU" id="BU" placeholder="Add: BU">
            </div>
            <div class="form-group">
                <label for="Position">Position:</label>
                <br>
                <input type="text" name="Position" id="Position" placeholder="Add: Position">
            </div>
            <div class="form-group">
                <label for="skillset">Skillset:</label>
                <br>
                <input type="text" name="skillset" id="skillset" placeholder="Add: Skillset">
            </div>
            <div class="form-group">
                <label for="education">Education:</label>
                <br>
                <input type="text" name="education" id="education" placeholder="Add: Education">
            </div>
            <div class="form-group">
                <label for="experience">Experience:</label>
                <br>
                <input type="number" name="experience" id="experience" step="any" placeholder="Add: Experience">
            </div>
            <div class="form-group">
                <label for="relevant_exp">Relevant Exp:</label>
                <br>
                <input type="number" name="relevant_exp" id="relevant_exp" step="any" placeholder="Add: Relevant Exp">
            </div>
            <div class="form-group">
                <label for="current_org">Current Org:</label>
                <br>
                <input type="text" name="current_org" id="current_org" placeholder="Add: Current Org">
            </div>
            <div class="form-group">
                <label for="current_ctc">Current CTC:</label>
                <br>
                <input type="number" name="current_ctc" id="current_ctc" step="any" placeholder="Add: Current CTC">
            </div>
            <div class="form-group">
                <label for="expected_ctc">Expected CTC:</label>
                <br>
                <input type="number" name="expected_ctc" id="expected_ctc" step="any" placeholder="Add: Expected CTC">
            </div>
            <div class="form-group">
                <label for="actual_notice_period">Actual Notice Period:</label>
                <br>
                <input type="number" name="actual_notice_period" id="actual_notice_period" placeholder="Add: Actual Notice Period">
            </div>
            <div class="form-group">
                <label for="notice_period">Notice Period:</label>
                <br>
                <input type="number" name="notice_period" id="notice_period" placeholder="Add: Notice Period">
            </div>
            <div class="form-group">
                <label for="current_loc">Current Loc:</label>
                <br>
                <input type="text" name="current_loc" id="current_loc" placeholder="Add: Current Loc">
            </div>
            <div class="form-group">
                <label for="preferred_loc">Preferred Loc:</label>
                <br>
                <input type="text" name="preferred_loc" id="preferred_loc" placeholder="Add: Preferred Loc">
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <br>
                <input type="number" name="phone_number" id="phone_number" placeholder="Add: Phone Number">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <br>
                <input type="email" name="email" id="email" placeholder="Add: Email">
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <br>
                <input type="text" name="status" id="status" placeholder="Add: Status">
            </div>
            <div class="form-group">
                <label for="BU_comments">BU Comments:</label>
                <br>
                <input type="text" name="BU_comments" id="BU_comments" placeholder="Add: BU Comments">
            </div>
            <div class="form-group">
                <label for="TA_comments">TA Comments:</label>
                <br>
                <input type="text" name="TA_comments" id="TA_comments" placeholder="Add: TA Comments">
            </div>
            <div class="form-group">
                <label for="comment_by_prerana">Comment By Prerana:</label>
                <br>
                <input type="text" name="comment_by_prerana" id="comment_by_prerana" placeholder="Add: Comment By Prerana">
            </div>
            <div class="form-group">
                <label for="T1_panel">T1 Panel:</label>
                <br>
                <input type="text" name="T1_panel" id="T1_panel" placeholder="Add: T1 Panel">
            </div>
            <div class="form-group">
                <label for="T1_IW_date">T1 IW Date:</label>
                <br>
                <input type="date" name="T1_IW_date" id="T1_IW_date" placeholder="Add: T1 IW Date">
            </div>
            <div class="form-group">
                <label for="T2_panel">T2 Panel:</label>
                <br>
                <input type="text" name="T2_panel" id="T2_panel" placeholder="Add: T2 Panel">
            </div>
            <div class="form-group">
                <label for="T2_IW_date">T2 IW Date:</label>
                <br>
                <input type="date" name="T2_IW_date" id="T2_IW_date" placeholder="Add: T2 IW Date">
            </div>
            <div class="form-group">
                <label for="source">Source:</label>
                <br>
                <input type="text" name="source" id="source" placeholder="Add: Source">
            </div>
            <div class="form-group">
                <label for="Rec_prime">Rec Prime:</label>
                <br>
                <input type="text" name="Rec_prime" id="Rec_prime" placeholder="Add: Rec Prime">
            </div>
            <div class="form-group">
                <label for="Domain">Domain:</label>
                <br>
                <input type="text" name="Domain" id="Domain" placeholder="Add: Domain">
            </div>
            <div class="form-group">
                <label for="T1">T1:</label>
                <br>
                <input type="text" name="T1" id="T1" placeholder="Add: T1">
            </div>
            <div class="form-group">
                <label for="T2">T2:</label>
                <br>
                <input type="text" name="T2" id="T2" placeholder="Add: T2">
            </div>
            <!-- <div class="form-group">
                <label for="resume">Resume:</label>
                <input type="file" name="resume" id="resume">
            </div> -->
            <br>
            <input type="submit" value="Submit">
        </form>
        
    </div>
{% endblock %}