{% extends 'basic.html' %}
{% block extra %}
<script>

  $(document).ready(function () {
    $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copyHtml5',
        'excelHtml5'
        
      ]
    });
  });
</script>
{% endblock %}
{% block body %}
<center>
    <div>
        <h2 class="bg-info text-white">Customer Requirements</h2>
    </div>
</center>
<button class="btn-sm" onclick="location.href='/summary'">Summary</button>

<table class="table">
    <thead class="badge-info text-white">
        <tr>
            <tr>
                <th>Req. ID</th>
                <th>Customers</th>
                <th>Cust. Req. ID</th>
                <th>Req. Skills</th>
                <th>Job Desc.</th>
                <th>Req. Exp.</th>
                <th>Open Positions</th>
                <th>Remaining Position</th>
                <th>Position Status</th>
                <th>Sales Incharge</th>
                <th>BU Head</th>
                <th>Remarks</th>
                <th>Candidate List</th>
                <th>Actions</th>
            </tr>
        </tr>
    </thead>
{% for val in customer_requirements %}
    <tbody>
        
        <tr>
            <div>
            <!--<td>{{customer_requirement.Requirement_Id}}</td>-->

            <td>{{forloop.counter}}</td>

            <td>{{val.customers}}</td>
            <td>{{val.Customer_Requirement_id}}</td>
            <td>{{val.Required_skills}}</td>
            <td>
                <button type="button" class="btn-sm" data-toggle="modal" data-target="#jobDescriptionModal{{val.Customer_Requirement_id}}">
                    {{ val.Job_Description|truncatewords:5 }}

                </button>
                <!-- Modal -->
                <div class="modal fade" id="jobDescriptionModal{{val.Customer_Requirement_id}}" tabindex="-1" role="dialog" aria-labelledby="jobDescriptionModalLabel{{val.Customer_Requirement_id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="jobDescriptionModalLabel{{val.Customer_Requirement_id}}">Job Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{val.Job_Description}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                </td>











                    <!--<td><button class="btn-info btn-sm" onclick="location.href='/job_description'">See Details</button>
                </td>-->
                    <td>{{val.Required_Experience}}</td>
                    <td>{{val.Open_positions}}</td>
                    <td>{{val.remain_positions}}</td>
                    <td>{{val.Position_Status}}</td>
                    <!--<td>{{customer_requirement.Candidate_status}}</td>-->
                    <td>{{val.Sales_Incharge}}</td>
                    <!--<td>{{customer_requirement.Candidate_List}}</td>-->
                    <td>{{val.Bu_head}}</td>

                    <td>
                        <button type="button" class="btn-sm btn-info" data-toggle="modal"
                            data-target="#BURemarksModal{{val.Customer_Requirement_id}}">
                            <i class="fa-regular fa-eye"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="BURemarksModal{{val.Customer_Requirement_id}}" tabindex="-1"
                            role="dialog" aria-labelledby="BURemarksModalLabel{{val.Customer_Requirement_id}}"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="BURemarksModalLabel{{val.Customer_Requirement_id}}">
                                            Remarks from BU: {{val.customers}}</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for remark in remarks reversed%}
                                        {% if remark.cust_id == val.Customer_Requirement_id %}
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">{{remark.refer_emp}}</h5>
                                                <h6 class="card-subtitle mb-2 text-body-secondary">Created on
                                                    {{remark.remark_date}}</h6>
                                            </div>
                                            <div class="card-body">
                                                <p>{{remark.remarks}}</p>
                                            </div>

                                        </div>
                                        {% endif %}
                                        <!-- <p>{{val.Bu_remarks}}</p> -->
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--For the edit button-->
                        <button type="button" class="btn-sm btn-success" data-toggle="modal"
                            data-target="#BURemarksEdit{{val.Customer_Requirement_id}}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <!-- Modal form -->
                        <div class="modal" id="BURemarksEdit{{val.Customer_Requirement_id}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update BU remarks</h1>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">&times;</button>
                                    </div>

                                    <div class="modal-body">
                                        <!-- <nav class="navbar bg-body-tertiary"> -->
                                        <div class="container-fluid">
                                            <form action="/Buremarks/{{val.Customer_Requirement_id}}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="Job_Description">Edit BU remarks:</label>
                                                    <textarea name="BU_remark_text" id="BU_remark_text" cols="50"
                                                        rows="10"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Add Comment</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>

                    
                        <!--<button class="btn-info btn-sm" onclick="location.href='/show_candidate'">see
                        list</button>-->


                <!-- Button trigger modal -->
                <td>
                <button type="button" class="btn-warning btn-sm"
                    onclick="location.href='/show_candidate/{{val.customers}}/{{val.Customer_Requirement_id}}'">
                    <i class="fa-sharp fa-regular fa-plus"></i>
                </button>
                <button type="button" class="btn-info btn-sm" onclick="location.href='/showEmpToCustomer/{{val.customers}}/{{val.Customer_Requirement_id}}'">

                        <i class="fa-regular fa-eye"></i>
                </button>
            </td>
            <td>
                <button class="btn-success btn-sm" data-toggle="modal"
                            data-target="#modalForm{{val.Customer_Requirement_id}}"><i
                                class="fa-solid fa-pen-to-square"></i></button>
                    
            </td>
                        <!-- Modal form -->
                        <div class="modal" id="modalForm{{val.Customer_Requirement_id}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Enter the new details</h1>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">&times;</button>
                                    </div>

                                    <div class="modal-body">
                                        <!-- <nav class="navbar bg-body-tertiary"> -->
                                        <div class="container-fluid">
                                            <h6>Customer : {{val.customers}}</h6>
                                            <h6>Customer Requirement id : {{val.Customer_Requirement_id}}</h6>
                                            <form action="/update_cust_requirements/{{val.Customer_Requirement_id}}"
                                                method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="Required_skills">Updated Required Skills:</label>
                                                    <input type="text" class="form-control" id="Required_skills"
                                                        name="Required_skills" value="{{val.Required_skills}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Job_Description">Updated Job Description:</label>
                                                    <textarea name="Job_Description" id="Job_Description" cols="50"
                                                        rows="20">{{val.Job_Description}}</textarea>
                                                    <!-- <textarea id="Job_Description" style="width:500px; height:150px;" class="form-control" name="Job_Description"
                                                  value="{{customer_requirement.Job_Description}}"></textarea> -->
                                                </div>
                                                <div class="form-group">
                                                    <label for="Required_Experience">Updated Required
                                                        Experience:</label>
                                                    <input type="number" class="form-control" id="Required_Experience"
                                                        name="Required_Experience"
                                                        placeholder="enter required experience"
                                                        value="{{val.Required_Experience}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Open_positions">Updated Open positions:</label>
                                                    <input type="number" class="form-control" id="Open_positions"
                                                        name="Open_positions" placeholder="Enter opened positions"
                                                        value="{{val.Open_positions}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="remain_positions">Updated Remaining positions:</label>
                                                    <input type="number" class="form-control" id="remain_positions"
                                                        name="remain_positions" placeholder="enter Remained positions"
                                                        value="{{val.remain_positions}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Position_Status">Updated Position Status:</label>
                                                    <input type="text" class="form-control" id="Position_Status"
                                                        name="Position_Status"
                                                        placeholder="Enter position status active or not"
                                                        value="{{val.Position_Status}}">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Sales_Incharge">Sales Incharge</label>
                                            <select name="Sales_Incharge" id="Sales_Incharge">
                                                {% for val in saleslist %}
                                                <option value="{{val}}">{{val}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        
            </tr>

        </tbody>
        {% endfor %}
    </table>
</div>
    {% endblock %}
    <!-- </nav> -->






    <!-- <div class="container text-white" style="margin-top: 30px;">
                            
                                    <div class="col-xl-12">
                                        <form action="savedvalues" method="post" class="form-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success" value="submit" style="float:right">Add Employee</button>
                            
                                        </form>
                                    </div>
                                </div> -->
    <!-- <div class="form-group">
                                    <table class="table">
                                        <thead class="badge-info text-white">
                                            <tr> -->
    <!-- <th>No.</th> -->
    <!-- <th>Candidate Fname</th>
                                                <th>Candidate Lname</th>
                                                <th>Candidate Skills</th>
                                                <th>Select<br><input type="checkbox" id="select-all"/></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                
                                        <tbody>
                                            {% for candidate_list in form %}
                                            <tr> -->
    <!--<td>{{customer_requirement.Requirement_Id}}</td>-->
    <!-- <td>{{forloop.counter}}</td> -->
    <!-- <td>{{candidate_list.eFname}}</td>
                                                <td>{{candidate_list.eLname}}</td>
                                                <td>{{candidate_list.eskills}}</td>
                                                <td>
                                                    <input type="checkbox" name="eFname" value="{{candidate_list.id}}">
                                                    <label for="eFname"></label>
                                                </td>
                                
                                                <td> -->
    <!--<button class="btn-danger btn-sm"
                                                        onclick="location.href='/deleteEmp/{{employee.eFname}}'">Delete</button>
                                                    <button class="btn-success btn-sm"
                                                        onclick="location.href='/editemp/{{employee.eFname}}'">Update</button>-->
    <!-- </td>
                                
                                            </tr>
                                            {% empty %}
                                            <span class="text-center text-danger">No record found</span>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div> 
                        </div>
                        </div>-->


    <!--To prevent closing the modal form-->