{% extends 'basic.html' %}
{% block extra %}
<script>

  $(document).ready(function () {
    $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copyHtml5',
        'excelHtml5',
        'csvHtml5',
        'pdfHtml5'
      ]
    });
  });
</script>
{% endblock %}
{% block body %}
<center>
  <div>
    <h2 class="bg-info text-white">List of Employees</h2>
  </div>
</center>

<div class="container-fluid">
  <table class="table table-bordered table-hover" id="example">
    <thead class="bg-info text-white">
      <tr>
        <th>Employee ID.</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Customer</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Designation</th>
        <th>Status</th>
        <th>LeadSoc Joining Date</th>
        <th>Customer Start Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for employee in employees %}
      <tr>
        <td>{{employee.e_id}}</td>
        <td>{{employee.eFname}}</td>
        <td>{{employee.eLname}}</td>
        <td>{{employee.refer_Customer}}</td>
        <td>{{employee.eEmail}}</td>
        <td>{{employee.ePhone}}</td>
        <td>{{employee.eRole}}</td>
        <td>{{employee.estatus}}</td>
        <td>{{employee.leadsoc_joining_date}}</td>
        <td>{{employee.customer_start_date}}</td>

        <td>

          <button class="btn-danger btn-sm" onclick="location.href='/deleteEmp/{{employee.ePhone}}'"><i
              class="fa-solid fa-trash fa-beat"></i></button>
          <button class="btn-success btn-sm" data-toggle="modal" data-target="#modalForm{{employee.ePhone}}"><i
              class="fa-solid fa-pen-to-square fa-beat"></i></button>
          <!-- <button class="btn-success btn-sm" onclick="location.href='/editemp/{{employee.eFname}}'"><i
              class="fa-solid fa-pen-to-square"></i></button> -->
          <button class="btn-info btn-sm data" data-toggle="modal" data-target="#modalTable{{employee.ePhone}}">
            <i class="fa-solid fa-eye fa-beat"></i>
          </button>
          <button class="btn-sm" onclick="location.href='/experience/{{employee.ePhone}}'">
            <i class="fa-solid fa-user fa-beat" style="color: #e6db43;"></i>
          </button>

          <div class="modal" id="modalTable{{employee.ePhone}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5>Experience</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <h5>Employee Name: {{employee.eFname}} {{employee.eLname}} </h5>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Company</th>
                        <th>Customer Start Date</th>
                        <th>Customer End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for val in experiencelist %}
                      {% if val.emp_mobile == employee.ePhone %}
                      <tr>
                        <td>{{val.refer_customer}}</td>
                        <td>{{val.customer_start_date}}</td>
                        <td>{{val.customer_end_date}}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>

                  </table>
                </div>

              </div>
            </div>
          </div>

          <div class="modal" id="modalForm{{employee.ePhone}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Enter the new details</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>

                <div class="modal-body">
                  <!-- <nav class="navbar bg-body-tertiary"> -->
                  <div class="container-fluid">
                    <form action="/updateEmp/{{employee.ePhone}}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="Required_skills">Update First Name :</label>
                        <input type="text" class="form-control" id="eFname" name="eFname" placeholder="Enter First Name"
                          value="{{employee.eFname}}">
                      </div>
                      <div class="form-group">
                        <label for="eLname">Update Last Name:</label>
                        <input type="text" class="form-control" id="eLname" name="eLname" placeholder="Enter Last Name"
                          value="{{employee.eLname}}">
                      </div>
                      <div class="form-group">
                        <label for="refer_Customer">Customer</label>
                        <select name="refer_Customer" id="refer_Customer">
                          {% for val in customerlist %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="eEmail">Update Email Id :</label>
                        <input type="email" class="form-control" id="eEmail" name="eEmail"
                          placeholder="Enter opened positions" value="{{employee.eEmail}}">
                      </div>
                      <div class="form-group">

                        <label for="eRole">Update Role</label>
                        <select name="eRole" id="eRole">
                          {% for val in rolelist %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>

                      </div>
                      <div class="form-group">
                        <label for="estatus">Update status:</label>
                        <select name="estatus" id="estatus">
                          {% for val in statuslist %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <!-- <div class="form-group">

                                              <label for="customer_start_date">Update Customer Start Date:</label>
                                                <input type="date" class="form-control" id="customer_start_date"
                                                    name="customer_start_date" value="{{employee.customer_start_date}}">
                                                    

                                            </div> -->

                  </div>
                  <!-- <div class="form-group">
                                        <label for="Sales_Incharge">Sales Incharge</label>
                                        <select name="Sales_Incharge" id="Sales_Incharge">
                                          {% for val in saleslist %}
                                          <option value="{{val}}">{{val}}</option>
                                          {% endfor %}
                                        </select>
                                      </div> -->
                  <button type="submit" class="btn btn-primary">Update</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}